# Database
DATABASE_URL=postgresql://neondb_owner:password@ep-gentle-math-avd4n2n5-pooler.c-11.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Authentication
NEXT_PUBLIC_ADMIN_PASSCODE=admin123
NEXT_PUBLIC_STAFF_PASSCODE=staff123
